.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  text-decoration: none;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.images img {
  width: 200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mint-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #09d3ac;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
  text-decoration: none;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

ul{
    text-decoration: none;
}
